<strong>Olá, {{ name }}</strong>
<p>Um usuário fez a inscrição na meetup {{ meetupName }}:</p>
<p>
  <strong>Usuario: </strong>{{ userName }} <br />
  <strong>E-mail: </strong>{{ userEmail }} <br />
  <strong>Data/Hora: </strong>{{ date }} <br />
  <br />
  <small>
    Boa meetup!
  </small>
</p>
